<a href="https://colab.research.google.com/github/royanagilnugroho/Python_for_Data_Science/blob/main/Tugas_2_agil_nugroho77.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Lakukan 4 operasi aritmatika pada 2 variabel di bawah (tambah, kurang, kali, bagi), lalu simpan semua hasilnya didalam list dan tampilkan.

var_1 = 10

var_2 = 2

In [ ]:
#Dalam mengerjakan soal di atas, diketahui var1 = 10 dan var2 = 2 maka dengan memperhatikan luaran di bawah ini dapat kita operasikan sebagai berikut
#keluaran yang diharapkan : [12,8,20,5]

#diketahui
var_1 = 10
var_2 = 2
#operasi aritmatika sesuai luaran secara berturut-turut sebagai berikut
hasil1 = var_1 + var_2
hasil2 = var_1 - var_2
hasil3 = var_1*var_2
hasil4 = var_1/var_2

luaran = [hasil1,hasil2,hasil3,hasil4]
print(luaran)

[12, 8, 20, 5.0]

2. Dengan menggunakan index keluarkan nilai dari dua tuple di bawah

a. ('Budi', 'Rani', 'Indah', 'Ilham')

b. (20, 18, 22, 27)

dari tuple a keluarkan Rani, dan dari tuple B keluarkan 22. lalu tampilkan dengan print() sesuai format yang diharapkan

In [ ]:
#Kasus di atas dapat diselesaikan dengan menggunakan slicing tuple
#keluaran yang diharapkan: "Rani adalah mahasiswi yang berusia 22 tahun"

#Slicing tuple untuk mengeluarkan Rani pada poin a.
a = ('Budi','Rani','Indah','Ilham')
a_new = a[1];
#slicing tuple untuk mengeluarkan 22 pada poin b.
b = (20,18,22,27)
b_new = b[-2];
#print sesuai luaran yang diharapkan
print(f'{a_new} adalah mahasiswi yang berusia {b_new} tahun')

Rani adalah mahasiswi yang berusia 22 tahun

3. Cari kota asal dari user dengan data di bawah. Cari nilai uniknya/jangan sampai ada pengulangan.

data_dict = {'Rudi':'bandung', 'Nina':'jakarta', 'Mia':'semarang', 'Indah':'bandung', 'Salman':'surabaya', 'Mikail':'jakarta'}


Hint - Gunakan Set

In [ ]:
#perhatikan aturan di bawah ini
#keluaran yang diharapkan: {'bandung','jakarta','semarang','surabaya'}
#urutan keluaran tidak penting

data_dict = {'Rudi':'bandung', 'Nina':'jakarta', 'Mia':'semarang', 'Indah':'bandung', 'Salman':'surabaya', 'Mikail':'jakarta'}
# print(data_dict['Rudi'])
# print(data_dict['Nina'])
# print(data_dict['Mia'])
# print(data_dict['Indah'])
# print(data_dict['Salman'])
# print(data_dict['Mikail'])
tuple(set(data_dict.values()))

('surabaya', 'jakarta', 'semarang', 'bandung')

4. Gunakan metode slicing untuk mendapatkan hasil yang diharapkan

a = ['1', '13b', 'aa1', 1.32, 22.1, 2.34]
...

In [ ]:
#keluaran yang diharapkan: 
#[ '13b', 'aa1', 1.32, 22.1 ]

a = ['1', '13b', 'aa1', 1.32, 22.1, 2.34]
print(a[1:5])

['13b', 'aa1', 1.32, 22.1]

5. Gabungkan kedua list di bawah ini

a = [1, 3, 5]

b = [5, 1, 3]

In [ ]:

#keluaran yang diharapkan: 
#[5, 1, 3, 1, 3, 5]

a = [1, 3, 5]

b = [5, 1, 3]

#gunakan fungsi append pada list di atas
c = b+a
print(c)

[5, 1, 3, 1, 3, 5]

6. Hilangkan elemen yang bernilai "bathroom" dan 10.50 lalu print kembali list areas

areas = ["hallway", 11.25, "kitchen", 18.0,
        "chill zone", 20.0, "bedroom", 10.75,
         "bathroom", 10.50, "poolhouse", 24.5,
         "garage", 15.45]

...

In [ ]:

#keluaran yang diharapkan: 
#['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'poolhouse', 24.5, 'garage', 15.45]
areas = ["hallway", 11.25, "kitchen", 18.0, "chill zone", 20.0, "bedroom", 10.75, "bathroom", 10.50, "poolhouse", 24.5, "garage", 15.45]
areas.remove("bathroom")
areas.remove(10.50)
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'poolhouse', 24.5, 'garage', 15.45]

7.

***europe = {'spain':'madrid', 'france':'paris', 'germany':'bonn', 'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'australia':'vienna' }***


update nilai ibukota german ke berlin

.........

remove australia dari europa

........

print(europe)

In [ ]:

#keluaran yang diharapkan: 
#{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}
europe = {'spain':'madrid', 'france':'paris', 'germany':'bonn', 'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'australia':'vienna' }
europe.pop('australia')
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'bonn', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}

8.
Cari semua nilai yang sama dari kedua list berikut ini. Print dalam bentuk list


a = [1,4,24,53,67,45,23,4,7,8,2,9,6,10,19,20,23,13,19]

b = [1,3,5,7,9,11,13,15,17,19,21,23]

In [ ]:
#kerjakan soal no 8 pada sel ini
#keluaran yang diharapkan: 
#[1, 7, 9, 13, 19, 23]

#ubah list ke set agar bisa gunakan intersection
a = [1,4,24,53,67,45,23,4,7,8,2,9,6,10,19,20,23,13,19]
a_set = set(a)
b = [1,3,5,7,9,11,13,15,17,19,21,23]
b_set = set(b)

#ubah set ke list agar sesuai dengan luaran yang diharapkan
mylist= list(a_set & b_set)
print(mylist)

[1, 7, 9, 13, 19, 23]