<a href="https://colab.research.google.com/github/royanagilnugroho/Python_for_Data_Science/blob/main/Tugas_1_agil_nugroho77.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Buatlah 3 variabel yang masing-masing berisi
    
    a. Nama depan (string)
    
    b. Umur (integer)
    
    c. kota tinggal (string)

In [6]:
#Pertama, untuk menulis string, maka bisa kita definisikan dengan menggunakan tanda single petik (' ') atau double petik (" ")
Nama_Depan = "Royan"
#Kedua, untuk menulis integer, kita bisa langsung menuliskan seperti persamaan matematika pada umumnya.
Umur = 22
#Ketiga, untuk menulis string, seperti langkah pertama.
Kota_Tinggal = 'Pekalongan'

2. Tampilkan semua variabel pada soal no 1 menjadi sebuah kalimat dengan menggunakan metode print()

In [8]:
#Dalam menulis printing dengan format seperti di bawah ini, maka dapat kita gunakan formula 
#contoh keluaran yang diharapkan : "Nama saya adalah Thio, berusia 28 tahun dan tinggal di Bandung."
print('Nama saya adalah', Nama_Depan ,', berusia' , str(Umur) ,'dan tinggal di', Kota_Tinggal ,)

Nama saya adalah Royan , berusia 22 dan tinggal di Pekalongan

3. Dengan menggunakan salah satu string method, ubah kata mangga pada variabel kalimat menjadi apel dan masukkan pada variabel kalimat_2 lalu print variabel kalimat_2

In [ ]:
#Untuk mengganti kata pada data string dari nilai yang ditentukan ke nilai lain yang ditentukan dapat menggunakan
#salah satu metode string yakni replace()
kalimat = 'Budi menyukai buah mangga'
kalimat_2 = kalimat.replace("mangga","apel")
print(kalimat_2)